*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #f3f3f1;
  font-family: "Inter", Arial, sans-serif;
}

.progressbar-wrapper {
  position: fixed;
  top: 0;
  background-color: #f3f3f1;
  color: white;
  width: 100%;
  z-index: 100;
}

.progressbar {
  background-color: black;
  padding: 2px;
  width: 15%;
}

.header {
  display: flex;
  margin-top: 2rem;
  height: 40px;
}

.container-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  z-index: 100;
  background-color: transparent;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.badge {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  color: #ebedff;
  background-color: #262625;
  padding: 6px 12px;
  border-radius: 1rem;
  transform: rotate(8deg);
}

.percentage {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #262625;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 27px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #262625;
  -webkit-transition: 0.4s;
  transition: 0.6s ease;
  border-radius: 63.07px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 3px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.6s ease;
  border-radius: 50%;
  background-image: url("/assets/toggle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.section {
  padding: 5rem 1rem;
}

.title-container {
  padding-bottom: 5rem;
}

h1 {
  color: #262625;
  font-weight: 600;
  font-size: 4.6rem;
  line-height: 90px;
}

.italic {
  font-style: italic;
}

.title-badge {
  position: absolute;
  top: 150px;
  left: 255px;
  width: 110px;
}

.playing-card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playing-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 310px;
  border-radius: 10px;
  background-color: #fefefe;
  transform: rotate(12.48deg);
}

.crown {
  display: flex;
  width: 190px;
  height: auto;
  justify-content: center;
  position: absolute;
  transform: rotate(-12.48deg);
}

.crown-small {
  position: absolute;
  width: 40px;
  height: auto;
  transform: rotate(-12.48deg);
  margin: 2px;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.comment-cursor {
  position: absolute;
  z-index: 10;
}

.some {
  bottom: -1rem;
  left: -3rem;
  transform: rotate(-13deg);
}

.chris {
  bottom: 0.7rem;
  right: -4.5rem;
  transform: rotate(-13deg);
}

.lina {
  right: -3rem;
  transform: rotate(-13deg);
}

.vector {
  position: absolute;
  z-index: 10;
  top: -2rem;
  right: 0;
  transform: rotate(-13deg);
}

.scroll-container {
  position: relative;
  margin-bottom: 6rem;
  width: 100%;
  overflow: hidden;
  mask: linear-gradient(
    90deg,
    transparent,
    #f3f3f1 20%,
    #f3f3f1 80%,
    transparent
  );
}

.scroll-paragraph {
  display: inline-block;
  white-space: nowrap;
  font-size: 11rem;
  font-weight: 600;
  animation: scroll-horizontal 30s linear infinite;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.card-section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  height: 600px;
  scrollbar-width: none;
}

.card-container {
  position: sticky;
  top: 0;
  margin: 0 auto;
}

.card {
  width: 366px;
  height: 600px;
  border-radius: 60px;
}

.card-header {
  display: flex;
  padding: 2.5rem;
  color: #262625;
}

.card-header h5 {
  padding-left: 1.5rem;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
}

.card-header p {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  opacity: 0.8;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;
}

.card-body p {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  opacity: 0.5;
  padding-top: 1rem;
}

.card-body span {
  font-weight: 700;
}

.card-footer {
  width: 100%;
  overflow: hidden;
}

.card-footer img {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0 0 60px 0;
}

.cursor-1 {
  top: 6rem;
  right: 1rem;
}

.cursor-2 {
  top: 10rem;
  right: 1rem;
}

.skill-1 {
  background-color: #ebedff;
}

.skill-2 {
  background-color: #ffedf5;
}

.skill-3 {
  background-color: #ecffce;
}

.skill-4 {
  background-color: #badaff;
}

.skill-5 {
  background-color: #fffac2;
}

.skill-6 {
  background-color: #ffbcab;
}

.skill-7 {
  background-color: #262625;
  color: #f3f3f1;
}

#card-7 .card-header {
  position: relative;
  height: 33%;
}

#card-7 .card-header img {
  position: absolute;
  top: 4rem;
  right: 4rem;
}

#card-7 .card-header {
  color: #f3f3f1;
  font-weight: 500;
}

#card-7 .card-body {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  display: flex;
  flex-direction: column;
  height: 33%;
}

#card-7 .card-body span {
  font-weight: 600;
}

.a {
  display: flex;
  justify-content: space-between;
}

#card-7 .card-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33%;
}

#card-7 .card-footer img {
  border-radius: 0;
}

.button {
  background-color: #f3f3f1;
  color: #262625;
  border-radius: 30px;
  font-weight: 600;
  font-size: 13.67px;
  line-height: 14px;
  border: none;
  width: 178px;
  height: 58px;
  z-index: 1;
}

.v1 {
  position: absolute;
  top: 3.9rem;
  left: 86px;
  z-index: 2;
}

.v2 {
  position: absolute;
  top: 2.2rem;
  left: 230px;
  z-index: 0;
}

.v3 {
  position: absolute;
  top: 7rem;
  left: 225px;
  z-index: 2;
}

.footer {
  display: flex;
  margin-top: 2rem;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

.date {
  color: #262625;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}
