*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f1;
  font-family: "Inter", sans-serif;
}

.progressbar-wrapper {
  position: fixed;
  top: 0;
  background-color: #f3f3f1;
  color: white;
  width: 100%;
}

.progressbar {
  background-color: black;
  padding: 2px;
  width: 15%;
}

.header {
  display: flex;
  margin-top: 2rem;
  height: 40px;
}

.container-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.badge {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  color: #ebedff;
  background-color: #262625;
  padding: 6px 12px;
  border-radius: 1rem;
  transform: rotate(8deg);
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 27px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #262625;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 63.07px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 3px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  background-image: url("/assets/toggle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.section {
  padding: 5rem 1rem;
}

.title-container {
  padding-bottom: 5rem;
}

h1 {
  color: #262625;
  font-weight: 600;
  font-size: 4.6rem;
  line-height: 90px;
}

.italic {
  font-style: italic;
}

.title-badge {
  position: absolute;
  top: 150px;
  left: 255px;
  width: 110px;
}

.playing-card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playing-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 310px;
  border-radius: 10px;
  background-color: #fefefe;
  transform: rotate(12.48deg);
}

.crown {
  display: flex;
  width: 189px;
  height: auto;
  justify-content: center;
  position: absolute;
  transform: rotate(-12.48deg);
}

.crown-small {
  position: absolute;
  width: 40px;
  height: auto;
  transform: rotate(-12.48deg);
  margin: 2px;
}

.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.comment-cursor {
  position: absolute;
  z-index: 10;
}

.some {
  bottom: -1rem;
  left: -3rem;
  transform: rotate(-11deg);
}

.chris {
  bottom: 0.7rem;
  right: -4.5rem;
  transform: rotate(-11deg);
}

.lina {
  right: -3rem;
  transform: rotate(-11deg);
}

.vector {
  position: absolute;
  z-index: 10;
  top: -2rem;
  right: 0;
  transform: rotate(-11deg);
}

.horizontal-text-container {
  width: 100vw;
  overflow: hidden;
  padding-top: 2rem;
}

.skill-section {
  padding: 5rem 1rem;
}

.skill-card-container {
  width: 366px;
  height: 600px;
  background-color: #ebedff;
  border-radius: 60px;
}

.skill-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.skill-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-card-footer {
  width: 100%;
}

/*  outline: 1px solid tomato; */
